@inherits ScissorHands.Theme.NotFoundViewBase
@layout MainLayout

<section class="not-found">
    <header class="not-found header">
        <h1 class="not-found title">@(!string.IsNullOrWhiteSpace(Document?.Metadata.Title) ? Document.Metadata.Title : "404 - Not Found")</h1>
    </header>
    <article class="not-found body">
        @if (string.IsNullOrWhiteSpace(Document?.Html) == true)
        {
            <img src="@($"/themes/{Theme!.Slug.TrimEnd('/')}/assets/images/not-found.jpg")" alt="Not Found" style="display: block; margin: 0 auto; width: 150px" />
            <p style="text-align: center;">The blog post or page you're looking for cannot be found or doesn't exist.</p>
        }
        else
        {
            @((MarkupString)Document.Html)
        }
    </article>
</section>
